.container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.configuration-container label {
    display: inline-block;
    margin-right: 1em;
}

.filter-container {
    display: inline;
    margin-right: 1em;
}

.filter {

}

.filter-selected {
    font-weight: bold;
}

#experiments th, #experiments td {
    white-space: nowrap;
}